body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: "Architects Daughter", cursive;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading {
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: auto;
    font-size: clamp(1.4rem, 4vw, 2.3rem);
    margin-top: 2rem;
    font-weight: bolder;
    text-shadow: 2px 2px #797878c4;
    letter-spacing: 2px;
}

.currentPlayer {
    color: blanchedalmond;
    margin: auto;
    width: auto;
    padding: 6px 20px 6px 20px;
    font-size: clamp(1rem, 4vw, 1.4rem);
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-radius: 10px;
    border: black 1px solid;
    margin-top: 4rem;
    text-shadow: 2px 2px #beb2b2;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.player {
    margin-left: 12px;
    color: beige;
}

.currentColor {
    background: red;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 5px;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

.board {
    border: 3px solid white;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 276px;
    width: 330px;
    background-image: radial-gradient(73% 147%, #eadfdf35 60%, #ece2df 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.board div {
    height: 40px;
    width: 40px;
    margin: 3px;
    border-radius: 20px;
    cursor: pointer;
}

.square {
    background: white;
}

.taken {}

.player-one {
    background-image: linear-gradient(to bottom, #ff0000, #000000c7);
}

.player-two {
    background-image: linear-gradient(to right, #2c659e, #1acf96);
}

.restart {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    width: 230px;
    height: 200px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.playAgain {
    font-family: unset;
    letter-spacing: 2px;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-weight: bolder;
    border: unset;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.playAgain:hover {
    border: unset;
    background: rgba(0, 0, 0, 0.733);
    color: #fff;
}

.angrybird {
    position: absolute;
    width: 100%;
    z-index: -10;
    opacity: 0.3;
}

.angrybird2 {
    position: absolute;
    width: 100%;
    z-index: -10;
    opacity: 0.3;
}

.rules-section {
    margin-top: 60px;
    margin-bottom: 20px;
}

.rules-section h2 {
    font-size: 24px;
    color: #000000a7;
}

.rules-section ul {
    display: grid;
    place-content: center;
    list-style-type: none;
    color: #333;
}

.rules-section li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.border-style {
    display: flex;
    align-items: center;
    margin: 1px 0;
    min-height: 1px;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, .05) -.13%, hsla(0, 0%, 88%, .05) 0, #e0e0e0 49.17%, hsla(0, 0%, 88%, .05));
}

.copyright {
    margin: 40px 0 50px 0;
    color: #555;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}